<div class="ui-grid">
  <div class="ui-grid-col-12" style="padding-left: 80px;">
    <h3>My Dashboard</h3>
  </div>
  <p-toast [style]="{ marginTop: '80px;' }"></p-toast>
</div>
<div class="ui-grid" style="padding-left: 40%;padding-bottom: 10px;">
  <div class="ui-grid-col-2">
    <label style="vertical-align: -webkit-baseline-middle;" for="mobile"><b>Mobile Number</b></label>
  </div>
  <div class="ui-grid-col-4">
    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText [(ngModel)]="phone">
      <label for="float-input">Enter your Mobile Number</label>
    </span>
  </div>
  <div class="ui-grid-col-2">
    <button pButton type="button" label="Go"
      style="color: black; background-color: yellowgreen;"
      (click)="searchUserByPhone()" ></button>
  </div>
</div>

<div class="ui-grid" style="padding-left: 80px;">
  <p-panel [style]="{ width: '90%' }">
    <div class="ui-grid">
      <div class="ui-grid-col-12" style="padding: 20px;">
        <div class="ui-grid-col-1"> &nbsp;</div>
        <div class="ui-grid-col-3">
          <div class="green-circle"><b>YOU OWE <br>INR {{ userOwes }}</b></div>
        </div>
        <div class="ui-grid-col-8" *ngIf="userOwes" >
          <div class="ui-grid">
            <div class="ui-grid-col-12">
              <p-table
                [value]="roomMatesIOwe"
                selectionMode="single"
                [(selection)]="selectedRoommateIOwe"
                (onRowSelect)="onRowSelect($event)"
                [paginator]="false"
                [style]="{ width: '90%' }"
                [rows]="6" [scrollable]="true" scrollHeight="100px"
                [virtualScroll]="true">
                <ng-template pTemplate="caption">
                    <div style="text-align:left">Roommates YOU OWE</div>
                </ng-template>
                <ng-template pTemplate="body" let-payment>
                    <tr [pSelectableRow]="payment">
                        <td style="width: 75%;"><b> {{ payment.to.name }}  </b></td>
                        <td style="width: 20%;">₹ {{ payment.amount }} </td>
                        <td style="width: 5%;"><div class="ellipsis" (click)="showDetails()" ></div></td>
                    </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="ui-grid-col-12" style="padding: 20px;">
        <div class="ui-grid-col-1"> &nbsp;</div>
        <div class="ui-grid-col-3">
          <div class="blue-circle"><b>OWE YOU <br>INR {{ owesUser }}</b></div>
        </div>
        <div class="ui-grid-col-8"  *ngIf="owesUser">
          <div class="ui-grid">
            <div class="ui-grid-col-12">
              <p-table
                [value]="roomMatesOweMe"
                selectionMode="single"
                [(selection)]="selectedRoommateOweMe"
                (onRowSelect)="onRowSelect($event)"
                [paginator]="false"
                [style]="{ width: '90%' }"
                [rows]="6" [scrollable]="true" scrollHeight="100px"
                [virtualScroll]="true">
                <ng-template pTemplate="caption">
                    <div style="text-align:left">Roommates OWE ME</div>
                </ng-template>
                <ng-template pTemplate="body" let-payment>
                    <tr [pSelectableRow]="payment">
                      <td style="width: 75%;"><b> {{ payment.from.name }}  </b></td>
                      <td style="width: 20%;">₹ {{ payment.amount }} </td>
                      <td style="width: 5%;"><div class="ellipsis" (click)="showDetails()" ></div></td>
                    </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-panel>
</div>
